.footer {
    padding: 1.5rem 0 .5rem;
}

.footer {
    border-top: 1px solid var(--alchemy-border);
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

.footer a:link, .footer a:visited, .footer a:active {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    text-decoration: none;
}

.footer a:hover {
    color: var(--primary-text-color);
    text-decoration: none;
}

.footer-summary {
    text-align: justify;
}