.header {
    padding: 1.5rem 0 .5rem;
}

.header img {
    margin-bottom: 1rem;
}

.header .title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.header ul,
.header li {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.header ul {
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: lowercase;
}

.navbar {
    box-shadow: none;
    background-color: var(--background-color) !important;
}

.navbar .nav-link {
    color: var(--primary-text-color);
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: var(--secondary-text-color);
    text-decoration: none;
}

.navbar .navbar-brand {
    color: var(--primary-text-color);
}

@media (max-width: 991.98px) {
    .navbar {
        background: var(--background-color);
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.nav-link:hover {
    color: var(--secondary-text-color) !important;
}

.nav-link:link {
    color: var(--primary-text-color) !important;
}

.nav-link:active {
    color: var(--primary-text-color) !important;
}