@import "teaser.css";
@import "header.css";
@import "footer.css";
@import "pages.css";

:root {
  --alchemy-border: rgba(0, 0, 0, .1);
  font-family: 'Roboto', sans-serif;
  font-size: medium;

  --primary-text-color: #051e50;
  --secondary-text-color: #00a8e8;
  --alt-text-color: white;
  --background-color: #F7F7FF;

  --font-large: 1.5em;
  --font-medium: 1.25em;
  --font-normal: 1em;
}

body {
  font-size: 20px;
  text-justify: inter-word;
}

::selection {
  background: var(--primary);
  color: white;
  text-shadow: none;
}

blockquote {
  opacity: .7;
  font-style: italic;
}

hr {
  margin: 1.5rem 0;
}

/* COLORS:
Independence: 555b6e
Powder blue: bee3db
Amber: ff7f11
Charleston green: 282B28
Green sheen: 83bca9

NEW COLORS:

*/

.container {
  max-width: 960px;
}

.main {
  padding: 1.5rem 0;
}

.highlight pre {
  border: 1px solid var(--alchemy-border);
  padding: 1rem;
}

.article header ul,
.article header li {
  margin-bottom: .5rem;
}

.article header li:not(:last-child) {
  margin-right: 10px;
}

.article .content a {
  text-decoration: underline
}

.article .content h1 {
  text-align: left !important;
}

.article {
  text-align: justify;
  width: 100%;
}

@media (min-width: 576px) {
  .header .title {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {

  .header,
  .footer {
    text-align: center;
  }

  .teaser header li {
    display: inline-block;
  }

  .teaser header li:not(:last-child) {
    margin-right: 10px;
  }

  body{
    font-size: 17px;
  }

  h1 {
    font-size: 1.25em;
  }
}

a:link {
  color: var(--primary-text-color);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--primary-text-color);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--secondary-text-color);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: var(--secondary-text-color);
  background-color: transparent;
  text-decoration: underline;
}

img {
  width: 100%;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img+em {
  display: block;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: medium;
}

iframe+em {
  display: block !important;
  padding-top: 10px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 50px !important;
  text-align: center !important;
  font-size: medium !important;
}

em+hr {
  display: block;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: medium;
}

/* Iframes */
iframe {
  width: 80%;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Block quotes */
blockquote {
  padding: 10px;
  color: #FF7F11;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-text-color);
}