.pages {
    line-height: 2.5em;
    margin: 4.5em 0 3em;
    background-color: #F9F9F9;
    color: #444;
    border-radius: 5px;
  }
  
  .pages a.next_page {
    float: right;
    width: 140px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #EEE;
  }
  
  .pages a.prev_page {
    float: left;
    width: 140px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #EEE;
  }
  
  .pages a {
    color: inherit;
    border: none;
  }
  
  .pages a:hover {
    background-color: #DDD;
  }
  
  .pages span {
    display: block;
    margin: 0 160px;
    text-align: center;
  }
  
  .clear {
    clear: both;
  }