.teaser .title {
  font-weight: bold;
  font-size: var(--font-medium);
}

.teaser .summary {
  color: var(--primary-text-color);
  font-size: var(--font-normal);
}

.teaser .date {
  color: #CCC;
  float: left;
  clear: both;
  width: 130px;
  font-size: var(--font-medium);
  line-height: 1em;
  margin: 0 20px 1em 0;

}

.teaser header ul {
  list-style: none;
  padding-left: 0;
}

.teaser header li {
  margin-bottom: .5rem;
}

.teaser .content p {
  margin-bottom: 0;
}

.teaser .info {
  margin-top: 1.3em;
  text-align: right;
  color: #BBB;
}

.teaser .info a {
  color: inherit;
}

.teaser .info a.tags {
  background: #CCC;
  color: lightslategrey;
  display: inline-block;
  padding: 0 .3em;
  border: 1px transparent solid;
  border-radius: 5px;
  margin: 0 0 0.3em 0;
}

.teaser .info a.tags:hover {
  background: inherit;
  color: inherit;
}

.teaser .info a.tags.selected {
  border: 1px #999 solid;
}

.teaser .authors, .type, .doi {
  font-size: var(--font-normal);
  color: var(--primary-text-color);
}

.abstract {
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
  font-size: var(--font-normal);
  color: var(--primary-text-color)
}

.article-stub-cover {
  padding: 10px;
}

input.abstract-read-more-state {
  display: none;
}

div.abstract-read-more-target {
  font-size: 0;
  max-height: 0;
  opacity: 0;
  transition: .25s ease;
}

input.abstract-read-more-state:checked~div.abstract div.abstract-read-more-target {
  font-size: inherit;
  max-height: 999em;
  opacity: 1;
}

input.abstract-read-more-state~label.abstract-read-more-trigger:before {
  content: 'Read more';
}

input.abstract-read-more-state:checked~label.abstract-read-more-trigger:before {
  content: 'Read less';
}

label.abstract-read-more-trigger {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  text-align: right;
  font-weight: bold;
  font-style: italic;
  color: var(--secondary-text-color);
}

.teaser a:hover {
  text-decoration: none;
}

.teaser a:visited {
  text-decoration: none;
}

.teaser a:link {
  text-decoration: none;
}

.teaser:hover .title {
  color: var(--secondary-text-color)
}

.teaser-link {
  width: 100%;
}