.card-container{
    width: 100%;
    position: relative;
}
.card-title{
    width: 100%;
    background-color: orange;
    text-align: right;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
}

.card-image{
    width: 100%;
}

.card-container button{
    position: absolute;
}

.card-content{
    background-color: lightslategrey;
    position: absolute;
    width: 40%;
    height: 80%;
    top: 15%;
    right: 0px;
    z-index: 100;
    margin: 10px;
    border-radius: 10px;
    box-shadow: lightslategrey;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}