<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <!-- <div class="container"> -->

    <!-- Grid row-->
    <!-- <div class="row text-center d-flex justify-content-center pt-5 mb-3"> -->

      <!-- Grid column -->
      <!-- <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">About me</a>
        </h6>
      </div> -->
      <!-- Grid column -->

      <!-- Grid column -->
      <!-- <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Projects</a>
        </h6>
      </div> -->
      <!-- Grid column -->

      <!-- Grid column -->
      <!-- <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Tutorials</a>
        </h6>
      </div> -->
      <!-- Grid column -->

      <!-- Grid column -->
      <!-- <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Contact</a>
        </h6>
      </div> -->
      <!-- Grid column -->

      <!-- Grid column -->
      <!-- <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Contact</a>
        </h6>
      </div> -->
      <!-- Grid column -->

    <!-- </div> -->
    <!-- Grid row-->
    <!-- <hr class="rgba-white-light" style="margin: 0 15%;"> -->

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- PHOTO -->
      <div class="col align-self-center">
        <img src="{{ SITEURL }}/static/assets/img/footer-logo.png" style="width: 80%;">
      </div>
      <!-- SUMMARY -->
      <div class="col-md-8 col-12 mt-3 footer-summary">
        <h3>Hi! I'm Cristo </h3>
        {% if pages %}
          {% for page in pages %}
            {% if page.slug == 'about-me' %}
              <p style="line-height: 1.7rem">{{ page.summary }}</p>
            {% endif %}
          {% endfor %}
        {% endif %}
      <!-- Grid column -->

    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="mb-5 d-flex justify-content-center">

          <!-- Facebook -->
          {% if FACEBOOK_LINK %}
            <a class="fb-ic">
              <i class="fab fa-facebook-f fa-3x white-text mr-4"> </i>
            </a>
          {% endif %}
          <!-- Twitter -->
          {% if TWITTER_LINK %}
          <a class="tw-ic">
            <i class="fab fa-twitter fa-3x white-text mr-4"> </i>
          </a>
          {% endif %}
          <!-- Google +-->
          {% if GOOGLE_LINK %}
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-3x white-text mr-4"> </i>
          </a>
          {% endif %}
          <!--Linkedin -->
          {% if LINKEDING_LINK %}
          <a class="li-ic" href="{{ LINKEDING_LINK }}">
            <i class="fab fa-linkedin-in fa-3x white-text mr-4"></i>
          </a>
          {% endif %}
          <!--Stack-overflow -->
          {% if STACKOVERFLOW_LINK %}
          <a class="li-ic" href="{{ STACKOVERFLOW_LINK }}">
            <i class="fab fa-stack-overflow fa-3x white-text mr-4"></i>
          </a>
          {% endif %}
          <!--Gitlab -->
          {% if GITLAB_LINK %}
          <a class="li-ic" href="{{ GITLAB_LINK }}">
            <i class="fab fa-gitlab fa-3x white-text mr-4"></i>
          </a>
          {% endif %}
          <!--Github -->
          {% if GITHUB_LINK %}
          <a class="li-ic" href="{{ GITHUB_LINK }}">
            <i class="fab fa-github fa-3x white-text mr-4"></i>
          </a>
          {% endif %}
          <!--ResearchGate -->
          {% if RESEARCHGATE_LINK %}
          <a class="li-ic" href="{{ RESEARCHGATE_LINK }}">
            <i class="fab fa-researchgate fa-3x white-text mr-4"></i>
          </a>
          {% endif %}
          <!--Instagram-->
          {% if INSTAGRAM_LINK %}
          <a class="ins-ic">
            <i class="fab fa-instagram fa-3x white-text mr-4"> </i>
          </a>
          {% endif %}
          <!--Pinterest-->
          {% if PINTEREST_LINK %}
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-3x white-text"> </i>
          </a>
          {% endif %}

        </div>

      </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="{{ SITEURL }}" style='display: inline-block'> {{ SITEURL }} </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- <div class="row">
  <ul class="col-sm-6 list-inline">
  {% if not FOOTER_LINKS %}
    {% if not HIDE_AUTHORS %}
      <li class="list-inline-item"><a href="{{ SITEURL }}/{{ AUTHORS_URL or AUTHORS_SAVE_AS or 'authors.html' }}">Authors</a></li>
    {% endif %}
    <li class="list-inline-item"><a href="{{ SITEURL }}/{{ ARCHIVES_URL or ARCHIVES_SAVE_AS or 'archives.html' }}">Archives</a></li>
    <li class="list-inline-item"><a href="{{ SITEURL }}/{{ CATEGORIES_URL or CATEGORIES_SAVE_AS or 'categories.html' }}">Categories</a></li>
    {% if tags|length %}
      <li class="list-inline-item"><a href="{{ SITEURL }}/{{ TAGS_URL or TAGS_SAVE_AS or 'tags.html' }}">Tags</a></li>
    {% endif %}
  {% else %}
    {% for title, link in FOOTER_LINKS %}
    <li class="list-inline-item"><a href="{{ url(link) }}">{{ title }}</a></li>
    {% endfor %}
  {% endif %}
  </ul>
  <p class="col-sm-6 text-sm-right text-muted">
    Generated by <a href="https://github.com/getpelican/pelican" target="_blank">Pelican</a>
    / <a href="https://github.com/nairobilug/pelican-alchemy" target="_blank">&#x2728;</a>
  </p>
</div> -->
