{%- macro fa(icon) -%}
{%- set fa_special_icons = {
  "feed": "fas fa-rss",
  "rss": "fas fa-rss",
} -%}
{%- if icon in fa_special_icons -%}
{{ fa_special_icons[icon] }}
{%- elif icon.split()|select("in", ["fab", "fas", "far", "fal", "fad"])|list -%}
{{ icon }}
{%- else -%}
fab fa-{{icon}}
{%- endif -%}
{%- endmacro -%}
<!-- <div class="row">
  {% if SITEIMAGE %}
    <div class="col-sm-4">
      <a href="{{ SITEURL }}/">
        <img class="img-fluid rounded" src={{ url(SITEIMAGE) }} alt="{{ SITENAME }}">
      </a>
    </div>
  {% endif %}
  <div class="col-sm-{% if SITEIMAGE %}8{% else %}12{% endif %}">
    <h1 class="title"><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    {% if SITESUBTITLE %}
      <p class="text-muted">{{ SITESUBTITLE }}</p>
    {% endif %}
    {% if LINKS or (DISPLAY_PAGES_ON_MENU and pages) or ICONS %}
      <ul class="list-inline">
        {% for title, link in LINKS %}
          <li class="list-inline-item"><a href="{{ url(link) }}" target="_blank">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in pages %}
            {% if LINKS and loop.first %}
              <li class="list-inline-item text-muted">|</li>
            {% endif %}
            <li class="list-inline-item"><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        {% endif %}
        {% for icon, link in ICONS %}
          {% if (LINKS or (DISPLAY_PAGES_ON_MENU and pages)) and loop.first %}
            <li class=" list-inline-item text-muted">|</li>
          {% endif %}
          <li class="list-inline-item"><a class="{{ fa(icon) }}" href="{{ url(link) }}" target="_blank"></a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div> -->
<!-- Navbar-->
<header class="header">
  
  <!-- <nav class="navbar navbar-default navbar-expand-lg">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
          class="navbar-toggle"><i class="fa fa-bars"></i></button>
        </div>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right text-color">
                  <li class="nav-item active"><a href="{{ SITEURL }}" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>

                  {% if LINKS %}
                    {% for title, link in LINKS %}
                      <li class="nav-item"><a href="{{ url(link) }}" class="nav-link text-uppercase font-weight-bold">{{ title }}</a></li>
                    {% endfor %}
                  {% endif %}
                  
                  {% if (DISPLAY_CATEGORIES_ON_MENU and categories) %}
                    {% for category, null in categories %}
                      <li class="nav-item"><a href="{{ SITEURL }}/{{ category.url }}" class="nav-link text-uppercase font-weight-bold">{{ category }}</a></li>
                    {% endfor %}
                  {% endif %}

                  {% if (DISPLAY_PAGES_ON_MENU and pages) %}
                    {% for page in pages %}
                      <li class="nav-item"><a href="{{ SITEURL }}/{{ page.url }}" class="nav-link text-uppercase font-weight-bold">{{ page.title }}</a></li>
                    {% endfor %}
                  {% endif %}

              </ul>
          </div>
      </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CristoJV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item active"><a class="nav-link text-uppercase font-weight-bold" href="{{ SITEURL }}">Home <span class="sr-only">(current)</span></a></li>

        {% if LINKS %}
          {% for title, link in LINKS %}
            <li class="nav-item"><a href="{{ url(link) }}" class="nav-link text-uppercase font-weight-bold">{{ title }}</a></li>
          {% endfor %}
        {% endif %}

        {% if (DISPLAY_CATEGORIES_ON_MENU and categories) %}
          {% for category, null in categories %}
            <li class="nav-item"><a href="{{ SITEURL }}/{{ category.url }}" class="nav-link text-uppercase font-weight-bold">{{ category }}</a></li>
          {% endfor %}
        {% endif %}

        {% if (DISPLAY_PAGES_ON_MENU and pages) %}
          {% for page in pages %}
            <li class="nav-item"><a href="{{ SITEURL }}/{{ page.url }}" class="nav-link text-uppercase font-weight-bold">{{ page.title }}</a></li>
        {% endfor %}
        {% endif %}
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul> -->
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>

</header>


<!-- For demo purpose -->
<!-- <div class="container">
  <div class="pt-5 text-white">
      <header class="py-5 mt-5">
          <h1 class="display-4">Transparent Navbar</h1>
          <p class="lead mb-0">Using Bootstrap 4 and Javascript, create a transparent navbar which changes its style on scroll.</p>
          <p class="lead mb-0">Snippet by
              <a href="https://bootstrapious.com" class="text-white">
                  <u>Bootstrapious</u></a>
          </p>
      </header>
      <div class="py-5">
          <p class="lead">Lorem ipsum dolor sit amet, <strong class="font-weight-bold">consectetur adipisicing </strong>elit. Explicabo consectetur odio voluptatum facere animi temporibus, distinctio tempore enim corporis quam <strong class="font-weight-bold">recusandae </strong>placeat! Voluptatum voluptate, ex modi illum quas nam distinctio.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="py-5">
          <p class="lead">Lorem ipsum dolor sit amet, <strong class="font-weight-bold">consectetur adipisicing </strong>elit. Explicabo consectetur odio voluptatum facere animi temporibus, distinctio tempore enim corporis quam <strong class="font-weight-bold">recusandae </strong>placeat! Voluptatum voluptate, ex modi illum quas nam distinctio.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div>
</div> -->
