<!-- {% if articles_paginator.num_pages > 1 %}
  <hr>
  <ul class="pagination">
    {% if articles_page.has_previous() %}
      <li class="page-item">
        <a class="page-link" href="{{ SITEURL }}/{{ articles_previous_page.url }}">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    {% endif %}
    <li class="page-item">
      <span class="page-link">{{ articles_page.number }} of {{ articles_paginator.num_pages }}</span>
    </li>
    {% if articles_page.has_next() %}
      <li class="page-item">
        <a class="page-link" href="{{ SITEURL }}/{{ articles_next_page.url }}">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %} -->
{# Use PAGINATION_PATTERNS or pagination may break #}
{% if DEFAULT_PAGINATION and (articles_page.has_previous() or articles_page.has_next()) %}

                <div class="clear"></div>
                <div class="pages">
	{% if PAGINATION_PATTERNS[0][0] != 0 %}
                {%- if articles_page.has_previous() %}
                {%   if articles_page.previous_page_number() == 1 %}

                    <a href="{{ SITEURL }}/" class="prev_page">&larr;&nbsp;Previous</a>
                {%-   else %}

                    <a href="{{ SITEURL }}/page/{{ articles_page.previous_page_number() }}" class="prev_page">&larr;&nbsp;Previous</a>
                {%-   endif %}
                {%- endif %}
                {%- if articles_page.has_next() %}

                    <a href="{{ SITEURL }}/page/{{ articles_page.next_page_number() }}" class="next_page">Next&nbsp;&rarr;</a>
                {%- endif %}
    {% else %}
                {%- if articles_page.has_previous() %}
                {%   if articles_page.previous_page_number() == 1 %}

                    <a href="{{ SITEURL }}/{{ page_name }}.html" class="prev_page">&larr;&nbsp;Previous</a>
                {%-   else %}

                    <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html" class="prev_page">&larr;&nbsp;Previous</a>
                {%-   endif %}
                {%- endif %}
                {%- if articles_page.has_next() %}

                    <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html" class="next_page">Next&nbsp;&rarr;</a>
                {%- endif %}
    {% endif %}

                    <span>Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}</span>
                </div>
{% endif %}