<article class="row teaser">
    <div class='container-fluid'>
        <!-- Container split in two col-mdums (Date / Article) -->
        <div class="row">
            <!-- Date -->
            <div class="col-md-2">
                <h4 class="date">{{ article.date.strftime("%d/%m/%Y") }}</h4>
            </div>
            <div class="col-md">
                <!-- TEASER -->
               
                {% if article.category.name == "publications" %}
                <a class="teaser-link" href="{{ article.publicationlink }}" target="_blank">
                {% elif article.category.name == "articles" %}
                <a class="teaser-link" href="{{ SITEURL }}/{{ article.url }}">
                {% endif %}

                    <h4 class="title"> {{ article.title }} </h4>
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Content -->
                                <div class="col-md content">
                                    <!-- PUBLICATION TYPE -->
                                    {% if article.category.name == "publications" %}
                                        <p class="authors">{{ article.authors|join(', ') }}</p>
                                        <p class="type"><strong>{{ article.type }}:</strong> {{article.name}}</p>
                                        <p class="doi"><strong>DOI: {{article.doi}} </strong></p>
                                    {% endif %}
                                    
                                    <!-- ARTICLE TYPE -->
                                    {% if article.category.name == "articles" %}
                                    <div class="summary">{{ article.summary }}</div>
                                    {% endif %}
                            </div>
                            {% if article.cover %}
                            
                            {% if article.coversize %}
                                {% if article.coversize|upper == 'LARGE' %}
                                    <div class="col-md-5 article-stub-cover">
                                        <img style="width:100%" src="{{ article.cover }}" alt="">
                                    </div>
                                {% endif %}
                                {% else %}
                                <div class="col-md-3 article-stub-cover">
                                    <img style="width:100%" src="{{ article.cover }}" alt="">
                                </div>
                                {% endif %}
                            {% endif %}

                            {% if article.category.name == "publications" %}

                                {% if article.abstract.split(" ") |length > 50 %}
                                    <input class="abstract-read-more-state" id="{{ article.title }}abstract-read-more-controller" type="checkbox">
                                    <div class="abstract">
                                        <div><strong>Abstract: </strong>{{ " ".join(article.abstract.split(" ")[:50]) }}</div>
                                        <div class="abstract-read-more-target"> {{ " ".join(article.abstract.split(" ")[50:]) }}</div>    
                                    </div>
                                    <label class="abstract-read-more-trigger" for="{{ article.title }}abstract-read-more-controller"></label>
                                {% else %}
                                    <div class="abstract"><strong>Abstract: </strong>{{ article.abstract }}</div>
                                {% endif %}
                                
                            {% endif %}
                        </div>
                    </div>
                    {% if article.link %}<i class="fas fa-link"></i>{% endif %}
                </a>
                
                <div class="clear"></div>

                <div class="info">
                    <a href="{{ SITEURL }}/{{ article.url }}">posted at {{ article.date.strftime("%H:%M") }}</a>
                    {% if article.category.name != "misc" %}
                    &nbsp;&middot;&nbsp;<a href="{{ SITEURL }}/{{ article.category.url }}" rel="tag">{{ article.category }}</a>
                    {% endif %}
                    {% if article.tags %}
                    &nbsp;&middot;
                    {% for t in article.tags %}
                    &nbsp;<a href="{{ SITEURL }}/{{ t.url }}" class="tags{% if tag and tag.name == t.name %} selected{% endif %}">{{ t }}</a>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</article>