{%- macro url(destination) -%}
{%- if destination|lower|truncate(4, True, '') == 'http' or not destination -%}
{{ destination }}
{%- elif destination|first == '/' -%}
{{ SITEURL + destination }}
{%- else -%}
{{ SITEURL + '/' + destination }}
{%- endif -%}
{%- endmacro -%}
<!doctype html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}| {{ SITENAME }}{% endblock %}</title>
  <link rel="canonical" href="{{ SITEURL }}/{{ output_file }}">

  {% if RFG_FAVICONS %}
  <link rel="apple-touch-icon" href="{{ SITEURL }}/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ SITEURL }}/manifest.json">
  <meta name="theme-color" content="#333333">
  {% endif %}

  <!-- JQUERY -->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
  <!-- BOOTSTRAP v5 -->
  <!-- CSS only -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  <!-- <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/staticlib/bootstrap_v4-0-0/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/staticlib/fontawesome_v5-13-0/css/all.min.css">
  <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments/{{ PYGMENTS_STYLE|default('native') }}.css"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css">

  <!-- CUSTOM style for pages -->
  <!-- {% if article %}
  {% if article.style %}
  <link rel="stylesheet" href="{{ SITEURL }}{{ article.style }}">
  {% endif %}
  {% endif %} -->
  <!-- ROBOTO FONT -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap"
    rel="stylesheet">

  <!-- SCRIPTS -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ GOOGLE_ANALYTICS }}');
  </script>

  <script>
    $(function () {
      // HEADER
      $(window).on('scroll', function () {
        if ($(window).scrollTop() > 10) {
          $('.navbar').addClass('active');
        } else {
          $('.navbar').removeClass('active');
        }
      });
    });
    $(".nav-link").on("click", function () {
      console.log("here")
      $(".navbar-nav").find(".active").removeClass("active");
      $(this).addClass("active");
    });
  </script>

  {% include 'include/xml_feeds.html' %}
  {% block head %}{% endblock %}
  {% include 'include/analytics.html' %}

  {# Open Graph tags #}
  {% if USE_OPEN_GRAPH %}
  {% block opengraph %}
  <!-- Open Graph tags -->
  {% if article is defined %}
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  <meta property="og:title" content="{{ article.title | replace(" \"", "&quot;" ) }}" />
  <meta property="og:description" content="{% if article.summary %}{{ article.summary | striptags | replace("
    \"", "&quot;" ) | truncate(196, False, '...' ) }}{% else %}{{ article.content | striptags | replace("\"", "&quot;" )
    | truncate(196, False, '...' ) }}{% endif %}" />
  <meta property="og:image"
    content="{{ SITEURL }}{% if article.opengraph_image is defined %}{{ article.opengraph_image }}{% else %}opengraph-default.jpg{% endif %}" />
  {% elif page is defined %}
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
  <meta property="og:title" content="{{ SITENAME }} - {{ page.title | replace(" \"", "&quot;" ) }}" />
  <meta property="og:description" content="{% if page.summary %}{{ page.summary | striptags | replace(" \"", "&quot;" )
    | truncate(196, False, '...' ) }}{% else %}{{ page.content | striptags | replace("\"", "&quot;" ) | truncate(196,
    False, '...' ) }}{% endif %}" />
  <meta property="og:image"
    content="{{ SITEURL }}{% if page.opengraph_image is defined %}{{ page.opengraph_image }}{% else %}opengraph-default.jpg{% endif %}" />
  {% else %}
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ SITEURL }}/{{ output_file }}" />
  <meta property="og:title" content="{{ SITENAME }}" />
  <meta property="og:description" content="A page on CristoJV's personal site" />
  <meta property="og:image" content="{{ SITEURL }}opengraph-default.jpg" />
  {% endif %}
  {% endblock %}
  {% endif %}

</head>

<body>
  <header class="header">
    <div class="container">
      {% include 'include/header.html' %}
    </div>
  </header>

  <div class="main">
    <div class="container">
      <h1>{% block page_header %}{% endblock %}</h1>
      <hr>
      {% block content %}{% endblock %}
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      {% include 'include/footer.html' %}
    </div>
  </footer>

  {% for script in THEME_JS_OVERRIDES or () %}
  <script type="text/javascript" src="{{ url(script) }}" crossorigin="anonymous"></script>
  {% endfor %}
</body>

</html>